/target/classes/de/silver/blockwars/commands/AbfallCommand.class
/target/classes/de/silver/blockwars/commands/DayCommand.class
/target/classes/de/silver/blockwars/commands/DiscordCommand.class
/target/classes/de/silver/blockwars/commands/EnderchestCommand.class
/target/classes/de/silver/blockwars/commands/FlyCommand.class
/target/classes/de/silver/blockwars/commands/GameModeCommand.class
/target/classes/de/silver/blockwars/commands/HealCommand.class
/target/classes/de/silver/blockwars/commands/InvseeCommand.class
/target/classes/de/silver/blockwars/Main.class
/target/classes/de/silver/blockwars/commands/NightCommand.class
/target/classes/de/silver/blockwars/listener/onBlockBreakListener.class
/target/classes/de/silver/blockwars/listener/onJoinListener.class
/target/classes/de/silver/blockwars/listener/onQuitListener.class
/target/classes/de/silver/blockwars/commands/VanishCommand.class
/target/classes/de/silver/blockwars/commands/WorkBenchCommand.class
/target/blockwars-1.0-SNAPSHOT-shaded.jar
/target/classes/de/silver/blockwars/listener/onMoveListener.class
/target/original-blockwars-1.0-SNAPSHOT.jar
/target/classes/de/silver/blockwars/listener/PlayerJoinListener.class
/target/classes/de/silver/blockwars/commands/StartKickCommand.class
/target/classes/de/silver/blockwars/commands/TpaCommand.class
/target/classes/de/silver/blockwars/commands/VoteKickCommand.class
/target/
